@import "tailwindcss";

@theme {
    --color-primary: #6c9376;
    --color-primary-hover: #5e8066;

    --color-primary-text: #57755e;

    --color-secondary: #d7f4de;
    --color-page-background: #bcedc9;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-page-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}
